################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderRecyclerView/bin/Debug
/OrderRecyclerView/obj
/.vs/OrderRecyclerView/v15
/.vs
